<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <title>flex布局trouble-shooting</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../css/railscasts.css" rel="stylesheet" type="text/css"/>
    <link href="../css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../ico/favicon.ico">
    <script type="text/javascript">
      var basePath = '../';
      (function(){MX=window.MX||{};var g=function(a,c){for(var b in c)a.setAttribute(b,c[b])};MX.load=function(a){var c=a.js,b=c?".js":".css",d=-1==location.search.indexOf("jsDebug"),e=a.js||a.css;-1==e.indexOf("http://")?(e=(a.path||window.basePath)+((c?"js/":"css/")+e)+(!d&&!c?".source":""),b=e+(a.version?"_"+a.version:"")+b):b=e;d||(d=b.split("#"),b=d[0],b=b+(-1!=b.indexOf("?")?"&":"?")+"r="+Math.random(),d[1]&&(b=b+"#"+d[1]));if(c){var c=b,h=a.success,f=document.createElement("script");f.onload=function(){h&&h();f=null};g(f,{type:"text/javascript",src:c,async:"true"});document.getElementsByTagName("head")[0].appendChild(f)}else{var c=b,i=a.success,a=document.createElement("link");g(a,{rel:"stylesheet"});document.getElementsByTagName("head")[0].appendChild(a);g(a,{href:c});i&&(a.onload=function(){i()})}}})();
    </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container"><em class="logo"></em><a href="http://jansesun.github.io/" class="navbar-brand">Valley of Ghosts</a></div>
      </div>
    </nav>
    <main class="container">
      <header class="title">flex布局trouble-shooting</header>
      <div class="post-date">31 July 2016</div>
      <section>
        <p><a href="https://github.com/jansesun" target="_blank">jansesun</a>原创，转载请注明<a href="http://jansesun.github.io/layout/flex.trouble-shooting.html">出处</a></p>
        <p>flex布局，可以简便，完整，响应式的实现各种页面布局。目前，所有现在浏览器都已经支持，我们可以放心的使用这种方式来进行布局。</p>
        <p>
           
          flex布局的基础知识，不在这里赘述，大家可以移步<a href="http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html">阮一峰关于Flex布局的教程</a>
        </p>
        <p>这里整理下工程实践中经常遇到，但又不为大家所熟知的几个小细节</p>
        <p>troule 1</p>
        <p>如下图所示，关闭按钮 icon slogan 从左往右依次排列，Open App按钮居右</p><img src="img/align-right.png" class="img-responsive">
        <p>flex的主轴布局justify-content中有flex-start(左对齐) flex-end(右对齐) center(居中对齐) space-between(两端对齐) space-around(两侧留白)</p>
        <p>flex同时提供了交叉轴的对齐方式align-items以及子元素的align-self</p>
        <p>以上属性都无法满足我们图中的布局要求，stackoverflow告诉我只要给想居右的元素设置属性margin-left: auto就可以完美实现了</p>
        <pre><code>.banner-container {
	display: flex;
	align-items: center; /*垂直居中*/
}
.guide-btn {
	margin-left: auto;
}</code></pre>
        <p>如果要求某个按钮居左，其他按钮从右往左排列，思路也是基本类似，我就不再这里多说了。</p>
        <p>trouble 2</p>
        <p>如下图所示，当天天气可伸缩，第二天天气根据某个对齐条件指定宽度，当天气情况描述超长时需要进行截断。</p><img src="img/ellipsis.png" class="img-responsive">
        <p>天真的想法是这样的</p>
        <pre><code>.weather-info-container {
	display: flex;
}
.today-weather-container {
	flex-grow: 1;
	flex-shrink: 1;
}
.today-weather-container .weather-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.future-weather-container {
	width: 141px;
}</code></pre><img src="img/ellipsis.wrong.png" class="img-responsive">
        <p>看到真相的我，眼泪掉下来，这是什么鬼？？？</p>
        <p>最后搜索引擎告诉我一个解决方案，先把容器宽度设为最小值1px，然后让容器自然拉伸，问题就得以解决了。</p>
        <pre><code>.weather-info-container {
	display: flex;
}
.today-weather-container {
	flex-grow: 1;
	flex-shrink: 1;
	width: 1px; /* 加上这行就好了 */
}
.today-weather-container .weather-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.future-weather-container {
	width: 141px;
}</code></pre>
        <p>前端总是充满了未知和挑战，当你征服未知后，你还会有更多的未知和挑战。</p>
      </section>
      <div id="disqus_thread"></div>
    </main>
    <footer style="text-align:center">Copyright©<a href="http://github.com/jansesun" target="_blank">jansesun</a></footer>
    <script type="text/javascript">
      MX.load({
      	js: 'lib/require',
      	version: '160106',
      	success: function() {
      		requirejs(['jquery', 'hljs'], function($, hljs) {
      			// 语法高亮
      			hljs.configure({
      				tabReplace: '    '
      			});
      			$('pre code').each(function() {
      				hljs.highlightBlock(this);
      			});
      		});
      	}
      });
      MX.load({
      	js: 'http://jansesun.disqus.com/embed.js'
      });
    </script>
  </body>
</html>