mixin extraStyle(filename)
	link(href=filename, rel="stylesheet", type="text/css")
doctype html
html(lang="zh-CN")
	head
		meta(charset="UTF-8")
		title 动画demo
		+extraStyle('../css/bootstrap.min.css')
		+extraStyle('../css/railscasts.css')
		+extraStyle('../css/style.css')
		style(type="text/css").
			.animation-container {
				position: relative;
				width: 115px;
				height: 120px;
				background-color: #3c6;
				border-radius: 4px;
			}
			.rose {
				position: absolute;
				width: 15px;
			}
			.rose.active {
				animation: moveX linear 1s infinite, moveY cubic-bezier(0, 0, .33, 0) 1s infinite;
				will-change: transform;
			}
			@keyframe moveX {
				from {
					transform: translateX(0);
				}
				to {
					transform: translateX(100px);
				}
			}
			@keyframe moveY {
				from {
					transform: translateY(0);
				}
				to {
					transform: translateY(100px);
				}
			}
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					em.logo
					a.navbar-brand(href="http://jansesun.github.io/")
		main.container
			header.title 动画demo
			.post-date 05 January 2016
		section
			p
				a(href="https://github.com/jansesun" target="_blank") jansesun
				| 原创，转载请注明
				a(href="http://jansesun.github.io/animation/") 出处
			p CSS3的animation属性为前端实现动画提供广阔的平台。不管是渐变动画还是逐帧动画都可以信手拈来。各种api的组合应用，可以打造炫酷的前端动画。
			p CSS3的animation属性允许同时设置多个关键帧动画，结合贝塞尔曲线时间函数的灵活应用即可随心所欲的实现DOM元素按任意平面曲线运动。
			p 接下来我会给出一个DOM按照平抛运动轨迹运行的demo
			p 在实现demo前，我们先从数学原理分析
			p 平抛运动轨迹的参数方程为x = t, y = t^2，而x = t的贝塞尔曲线为linear, y=t^2的贝塞尔曲线为cubic-bezier(0, 0, .33, 0)
			p 有了参数方程对应的贝塞尔曲线，剩下的就是前端工程师擅长的css定义了。
			pre
				code.
					.rose.active {
						animation: moveX linear 1s infinite, moveY cubic-bezier(0, 0, .33, 0) 1s infinite;
						will-change: transform;
					}
					@keyframe moveX {
						from {
							transform: translateX(0);
						}
						to {
							transform: translateX(100px);
						}
					}
					@keyframe moveY {
						from {
							transform: translateY(0);
						}
						to {
							transform: translateY(100px);
						}
					}
			div#demo-container
				div.animation-container
					img.rose(src="http://mat1.gtimg.com/www/newsapp/img/roselive/rose.png")
				div.btn-container
					button.btn.btn-primary.btn-animation 触发动画


